html {
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    font-family: 'Inter-Bold';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}

section {
    margin-bottom: 24px;
}

.profile-pic img {
    height: 88px;
    border-radius: 999px;
}

.name-location .name {
    margin-bottom: 0;
}

.name-location .location {
    font-size: 14px;
    color: #C4F82A;
    margin-top: 8px;
}

.bio {
    font-family: 'Inter-Regular';
    font-size: 14px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 0;
}

.links button {
    font-family: 'Inter-Bold';
    border: none;
    background-color: #333333;
    color: #fff;
    width: 304px;
    padding: 12px;
    border-radius: 8px;
}

button:hover {
    background-color: #C4F82A;
    color: black;
    cursor: pointer;
}